<div class="container" style="text-align: center">
  <img src="/assets/images/logo2.png" alt="">
  <div class="jumbotron" style="background: white;">
    <div class="container">
      <p>
      The Premier pokemon hotness rating application. Where you get to choose
      which pokemon is TRULY the hottest. Is it Charmander? Pikachu? You get to
      decide!
      </p>

      <p>
        {{#link-to "pokemon.rate" class="btn btn-primary btn-lg"}}
          Rate one now!
        {{/link-to}}
      </p>
    </div>
  </div>

  <h1>Current Hottest Pokemon</h1>
  <hr>
  {{pokemon-list pokemon=sortedPokemon}}
</div>
