<div class="jumbotron">
  <div class="container">
    <h1>PokeHOT or PokeNOT?</h1>
    <p>
      YOU BE THE JUDGE. Pokemon are either hot or not. what do you say?
    </p>

    <p>
      {{#link-to "pokemon.show" class="btn btn-primary btn-lg"}}
        Check it out
      {{/link-to}}
    </p>
  </div>
</div>

{{outlet}}
