{{#bs-form layout="horizontal" action=(route-action "savePokemon" model)}}
  {{#bs-form-group}}
    <label class="control-label">Name</label>
    {{bs-input type="text" value=model.name}}
    <label class="control-label">Image URL</label>
    {{bs-input type="text" value=model.imageURL}}
  {{/bs-form-group}}
  {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
{{/bs-form}}
{{outlet}}
